svg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.point {
    opacity: .2;
}

.point:hover {
    transition: .3s;
    opacity: .55;
    cursor: pointer;
}